.background-container {
    height: 100%;
    background-image: url('../../images/game.jpg'); /* Replace with the actual path to your image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; /* Set text color to be visible on the background */
}
